/* Added your styles to this file */

body {
  margin: auto;
}

.notification {
  color: yellowgreen;
}

@media (max-width: 640px) {
  /* Styles for small screens go here */
  .nav {
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin: 0;
  }

  .home {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
}
