@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}

.slick-next {
  right: -30px;
  width: 30px;
  height: 30px;
}

.slick-prev {
  left: -50px;
  width: 30px;
  height: 30px;
}

/* .slick-prev:before { color: red; font-size: 30px; }  */

.slick-next::before {
  color: rgb(38, 255, 0);
  font-size: 50px;
}

.slick-prev::before {
  color: rgb(38, 255, 0);
  font-size: 50px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
